@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200&display=swap');

*{

  margin: 0;

}

@keyframes apear {
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
  
}

@keyframes gradient {
  0% {
    color: var(--color-1);
    border-color: var(--color-1);
  }
  100% {
    color:var(--color-3);
    border-color:var(--color-3);
  }
}

:root{

  font-size: 62.5%;
  --color-1: #5A7DFF;
  --color-2: white;
  --color-3: #cbb3f5;

  font-family: 'Montserrat', sans-serif;

}

.l-app{

  height: 100vh;

}